<div class="container">
  <h1>Редактирование вариации</h1>

  <%= render 'form', variation: @variation %>

  <%= link_to 'Назад', retailer_path(@variation.field.retailer), :"data-turbolinks" => "false", class: "btn btn-secondary" %>
</div>