<div class="container">
  <h1>Новая вариация для <%= @field.title %></h1>
  <%= render 'form', variation: @variation %>

  <%= link_to 'Назад', @field.retailer, :"data-turbolinks" => "false", class: "btn btn-secondary" %>
</div>