<p>
  <strong>Name:</strong>
  <%= @variation.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @variation.description %>
</p>

<%= link_to 'Изменить', edit_variation_path(@variation), class: "btn btn-secondary" %></br
<%= link_to 'Назад', field_path(@variation.field_id), :"data-turbolinks" => "false" %>
