<h1>Editing Field History</h1>

<%= render 'form', field_history: @field_history %>

<%= link_to 'Показать', @field_history, class: "btn btn-secondary" %> |
<%= link_to 'Назад', field_histories_path, class: "btn btn-secondary" %>
