<div class="container">
  <h1>Изменение пользователь</h1>

  <%= render 'form', user: @user %>

  <%= link_to 'Показать', @user, class: "btn btn-secondary" %>
  <%= link_to 'Назад', users_path, class: "btn btn-secondary" %>
</div>