<div class="container">
  <h1>Редактирование Ретейлера</h1>

  <%= render 'form', retailer: @retailer %>

  <%= link_to 'Показать', @retailer, class: "btn btn-secondary" %>
  <%= link_to 'Назад', retailers_path, class: "btn btn-secondary" %>
</div>