<div class="container">
  <h1>Изменение поля вокабуляра</h1>

  <%= render 'form', vocabulary: @vocabulary %>

  <%= link_to 'Показать', @vocabulary, class: "btn btn-secondary" %> |
  <%= link_to 'Назад', vocabularies_path, class: "btn btn-secondary" %>
</div>