// Place all the styles related to the fields controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

textarea {
  height: 200px;
  width: 600px;
  resize: both !important;
}

.hide.hide_result_0 {
  display: block;
}

.hide  {
  display: none;
}



//#field_description {
//  resize: both;
//}
