<div class="container">
  <p>
    <strong class="search_form">Наименование:</strong>
    <%= @field.title %>
  </p>

  <p>
    <strong> Вокабуляр -  </strong>
    <%= @field.vocabulary.name %>
  </p>

  <%= link_to 'Изменить', edit_field_path(@field), class: "btn btn-secondary" %>
  </br>
  </br>
  <%= link_to 'Назад', retailer_path(@field.retailer_id), :"data-turbolinks" => "false", class: "btn btn-secondary"%>
</div>